@import url('default.css');

header {
    height: 100px;
}
header h1 {
    float: left;
    margin: 35px 0 0 0;
}
header nav {
    float: right;
    letter-spacing: -0.08em;
}
header nav ul li {
    float: left;
    margin: 14px 0 0 0;
}
header nav ul li a {
    display: block;
    padding: 23px; 
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 700;
}
.visual {
    height: 713px;
    background-image: url(../images/visual_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.visual h2 {
    float: right;
    margin: 68px 0 0 0;
    line-height: 1.2;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.06em;
}
.visual h2 span {
    color: #ffffff;
}

.food h2 {
    display: none;
}
.food .rowgroup1 {
    margin: 155px 0 126px 0;
}
.food .rowgroup1 img {
    float: left;
}
.food .rowgroup1 .menu {
    float: left;
    margin: 20px 0 0 40px;
}
.food .rowgroup2 {
    position: relative; 
    /* absolute 정렬의 기준점 
    - rowgroup2의 영역 안에서 left 왼쪽 top 상단 여백을 계산 */
}
.food .rowgroup2 .food_img02 {
    float: right;
}
.food .rowgroup2 .menu {
    /* menu를 감싸고 있는 rowgroup2가 position 속성을 가지고 있기 때문에 
    rowgroup2를 기준으로 left 왼쪽 top위쪽 위치를 계산 */
    position: absolute;
    left: 525px;
    top: 39px;
}
.food .rowgroup2 .food_img01 {
    position: absolute;
    right: 950px;
    top: 103px;
}

.food .menu h3 {
    margin: 0 0 10px 0;
    line-height: 1.125;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.06em;
}
.food .menu h3 span {
    color: #ffffff;
}
.drink {
    height: 592px;
    margin: 162px 0 0 0;
    background-image: url(../images/drink_bg.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.drink h2 {
    display: none;
}
.drink ul {
    padding: 81px 0 0 0;
}
.drink ul li {
    float: left;
    margin: 0 40px 0 0;
}
.drink ul li:first-child {
    margin-top: 40px;
}
.drink ul li:last-child {
    margin-right: 0;
    margin-top: 40px;
}
.drink ul li a {
    display: block;
    width: 400px;
    height: 390px;
    padding: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 16px rgba(0,0,0,0.2);
    color: #ffffff;
}
.drink ul li.drink01 a {
    background-image: url(../images/drink01.png);
}
.drink ul li.drink02 a {
    background-image: url(../images/drink02.png); 
}
.drink ul li.drink03 a {
    background-image: url(../images/drink03.png); 
}
.drink ul li a em {
    display: block;
    padding: 0 0 180px 0;
}
.drink ul li a strong {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.93;
    letter-spacing: -0.06em
}
.drink ul li a span {
    display: block;
    padding: 5px 0 7px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: -0.04em
}
.drink ul li a p {
    display: block;
}
.sns {
    margin: 153px 0 0 0;
}
.sns .wrapper {
    position: relative;
}
.sns .tit {
    position: absolute;
    left: 0;
    top:-2px;
}
.sns .tit h2 {
    margin: 0 0 17px 0;
    line-height: 1.12;
    font-size: 40px;
    font-weight: 700;
}
.sns .tit ul {
    margin: 23px 0 0 0;
}
.sns .tit ul li {
    float: left;
    margin: 0 8px 0 0;
}
.sns .tit ul li a {
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #666666;
    border-radius: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0; /* 글자 숨김 */
}
.sns .tit ul li.insta a {
    background-image: url(../images/sns_insta.png); 
} 
.sns .tit ul li.twitter a {
    background-image: url(../images/sns_twitter.png); 
} 
.sns .tit ul li.facebook a {
    background-image: url(../images/sns_facebook.png); 
} 
.sns .list li {
    float: left;
    margin: 0 20px 20px 0;
}
.sns .list li:first-child {
    margin-left: 520px;
}
.sns .list li:nth-child(4) {
    clear: left;
}
.sns .list li:nth-child(3) {
    margin-right: 0;
}
.sns .list li:last-child {
    margin-right: 0;
}
.sns .list a {
    display: block;
    /* img태그도 inline 요소이기 때문에 행간이 적용되어 하단에 여백이 발생한다. 
    이를 없애기 위해서 글자크기와 행간을 모두 0으로 처리한다. */
    font-size: 0;
    line-height: 0;
}
footer {
    margin: 183px 0 0 0;
    border-top: 1px solid #cccccc;
    text-align: center;
}
footer .flogo {
    margin: 83px 0 54px 0;
}
footer .fnav li {
    /* float: left; 
    li를 가운데 정렬해야 하는데 float가 들어간 요소는 가운데 정렬이 안됨
    display:inline-block으로 인라인 요소로 변경해서 li좌우로 배치하고 가운데 정렬이 적용됨 
    - 여백을 정확하게 맞춰야 하는 경우가 아니면 이런 방법을 적용함 */
    display: inline-block;
    position: relative;
}
footer .fnav li::after {
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: #CCCCCC;
    content: "";
}
footer .fnav li:last-child:after {
    display: none;
}
footer .fnav li a {
    padding: 0 10px;
}
footer .finfo li {
    display: inline-block;
    position: relative;
    padding: 20px 10px;
}

footer .finfo li::after {
    position: absolute;
    right: 0;
    top: 25px;
    width: 1px;
    height: 13px;
    background-color: #CCCCCC;
    content: "";
}
footer .finfo li:last-child:after {
    display: none;
}
footer .copyright {
    color: #666666;
    margin:  0 0 128px 0;
}