@import url('default.css');

h1 {
    display: none;
}

.visual {
    height: 850px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    padding: 298px 0 0 0;
    font-size: 75px;
    font-weight: 400;
    line-height: 1;
}
.visual span {
    font-weight: 700;
}
@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 107px 0 138px 0;
        font-size: 35px;
    }
}

.works {
    text-align: center;
    color: #fff;
    background-color: #F39800;
}
.works h2 {
    padding: 52px 0 10px 0;
    font-size: 50px;
    font-weight: 700;
}
.works p {
    padding: 0 0 67px 0;
}
.works p span {
    display: block;
}
.works ul li {
    float: left;
    width: 33.33%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.works ul li.market {
    background-image: url(../images/works01.png);
}
.works ul li.commerce {
    background-image: url(../images/works02.png);
}
.works ul li.overseas {
    background-image: url(../images/works03.png);
}

.works ul li a {
    display: block;
}
.works ul li a i {
    display: block;
    margin: 82px 0 14px 0;
    font-size: 50px;
    font-weight: 300;
}
.works ul li a h3 {
    display: block;
    font-size: 30px;
    line-height: 1.2;
}

@media screen and (max-width:640px){
    .works {
        height: auto;
    }
    .works h2 {
        padding: 36px 0 13px 0;
        font-size: 25px;
    }
    .works p {
        padding: 13px 20px 25px 20px;
    }
    .works p span {
        display: block;
    }
    .works ul li {
        float: none;
        width: auto;
        height: 150px;
        margin: 0 20px;
    }
    .works ul li:last-child {
        margin-bottom: 20px;
    }
    .works ul li a i {
        padding: 29px 0 6px 0;
        margin: 0;
        font-size: 30px;
    }
    .works ul li a h3 {
        font-size: 20px;
    }
}

.news {
    margin: 52px 0 96px 0;
}

.news h2 {
    padding: 0 0 36px 0;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.news ul li {
    float: left;
    width: 400px;
    margin: 0 40px 0 0;
}
.news ul li:last-child {
    margin-right: 0;
}
.news ul li h3 {
    font-size: 20px;
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.news ul li span {
    display: block;
    margin: 10px 0 10px 0;
}
.news ul li p {
    line-height: 1.5;
    height: 10.5em;
    overflow: hidden;
}
@media screen and (max-width:640px){
    .news {
        margin: 0 0 96px 0;
    }
    .news h2 {
        padding: 39px 0 29px 0;
        font-size: 25px;
    }
    .news ul li {
        position: relative;
        float: none;
        width: auto;
        margin: 0;
    }
    .news ul li h3 {
        font-size: 17px;
    }
    .news ul li span {
        margin: 10px 0 10px 0;
    }
    .news ul li p {
        margin: 0 0 40px 0;
        line-height: 1.5;
        height: 6em;
    }
    .news ul li::after {
        display: block;
        float: left;
        position: absolute;
        right: -23px;
        top: 185px;
        width: 320px;
        height: 1px;
        background-color: #ccc;
        content: "";
    }
}

footer {
    margin: 96px 0 0 0;
    background-color: #3d3d3d;
    color: #fff;
}
footer .inner {
    padding: 61px 0 90px 0;

}