@import url('default.css');
@import url('common.css');

.visual h2 {
   position: absolute;
   left: calc(50% - 700px);
   top: 50%;
   z-index: 12;
   width: 1400px;
   margin: 0 auto;
   color: #fff;
   font-size: 56px;
   font-weight: 700;
   line-height: 67px;
   transform: translate(0, -50%);
   /* fullpage.js플러그인에서 한 section에 글자 딱 하나만 존재할때 
    해당글자에 line-height가 들어가면 해당section에서는 scroll이 작동되지 않을 수 있음 */
}
.visual video {
    position:absolute; 
    right:0; 
    bottom:0; 
    top:0; 
    z-index: 10;
    width:100%; 
    height:100%; 
    object-fit:cover;
}
.visual .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* left, top, right, bottom 다 0으로 주면 width:100%;, height:100%;과 동일하게 적용됨 */
    z-index: 11;
    background-color: rgba(0,0,0,0.2);
}
.visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    z-index: 12;
    text-align: center;
    transform: translate(-50%, 0);
    /* 콘텐츠 넓이의 절반을 왼쪽으로 이동 */
}
.visual .scroll strong {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300px;
    color: rgba(255,255,255,0.6);
}
.visual .scroll img {
    animation-name: scroll_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.51,0,.59,1); /* 가속도 */
}
/* 
    transsition과의 차이점
    1. 가만히 있어도 애니메이션 효과가 적용됨 (hover하거나,
    2. keyframes로 선언한 애니메이션의 재활용이 가능
        a에도 줄 수 있고, button에도 줄 수 있고 
    3. 애니메이션 효과를 무한 반복 할 수 있음 (transition은 단 한번만 가능)
*/
@keyframes scroll_move {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0, -15px); }
    100% { transform: translate(0, 0); }
}
@media screen and (max-width:1440px){
    .visual h2 {
        left: 20px;
        font-size: 50px;
    }
}
@media screen and (max-width:1280px){
    .visual h2 {
        left: 20px;
        font-size: 48px;
        line-height: 58px;
    }
}   
@media screen and (max-width:980px){
    .visual h2 {
        left: 20px;
        font-size: 38px;
        line-height: 46px;
    }
}
@media screen and (max-width:640px){
    /* 만약 fullpage를 모바일에서 해제하고 높이를 제한해야한다.
        section클래스를 준 요소 말고 그 안에 있는 요소한테 높이를 줘야 함 */
    .visual .inner {
        height: 400px;
    }
    .visual h2 {
        left: 20px;
        font-size: 30px;
        line-height: 37px;
    }
}

.count {
    padding: 50px 0 0 0; 
    /* 콘텐츠가 header의 높이와 무관하게 위아래 가운데 배치되어 상단 여백이 약간 부족해 보이기 때문에 
    추가로 상단 여백값 설정 */
    color: #fff;
    background-color: #926D49;
}
.count .tit {
    margin: 0 0 0 8.6%; 
    /* 120/1400*100 = 1400px영역에서 여백의 비율 */
}
.count .tit h2 {
    margin: 0 0 27px 0;
    font-size: 40px;
    line-height: 50px;
}
.count .tit h2 strong {
    font-weight: 700;
}
.count .tit p span {
    display: block;
}
.count .rate {
    position: absolute;
    left: calc(50% + 140px);
    top: calc(50% + 25px);
    width: 50%;
    transform: translate(0, -50%);
}
.count .rate li {
    position: relative;
    margin: 0 0 46px 0;
}
.count .rate li:last-child {
    margin-bottom: 0;
}
.count .rate li::after {
    position: absolute;
    left: 0;
    top: 78px;
    z-index: -1; /* 어쩔수 없이 position:absolute;이지만  */
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.count .rate li .exp {
    font-weight: 700;
}
.count .rate li .num strong {
    display: inline-block;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    background-color: #926D49;
}
.count .rate li .num span {
    position: relative;
    padding: 0 2px 0 5px;
    font-size: 22px;
    font-weight: 700;
    background-color: #926D49;
}
/* .count .rate li .num span::after {
    position: absolute;
    left: 100%;
    top: 26px;
    width: 10000%;
    height: 1px;
    background-color: #ccc;
    content: "";
} */
@media screen and (max-width:1280px){
    .count .tit h2 {
        margin: 0 0 27px 0;
        font-size: 36px;
    }
    .count .rate li .num strong {
        font-size: 48px;
        line-height: 57px;
    }
    .count .rate li::after {
        top: 70px;
    }
    
}
@media screen and (max-width:800px){
    .count .tit h2 {
        margin: 0 0 27px 0;
        font-size: 26px;
        line-height: 30px;
    }
    .count .rate li .num strong {
        font-size: 36px;
        line-height: 40px;
    }
    .count .rate li::after {
        top: 52px;
    }
    .count .rate li .exp {
        font-size: 13px;
    }
}
@media screen and (max-width:640px){
    .count {
        padding: 51px 0 81px 0;
    }
    .count .tit {
        margin: 0 0 50px 0; 
    }
    .count .tit h2 {
        margin: 0 0 20px 0;
        font-size: 24px;
        line-height: 30px;
    }
    .count .tit p span {
        display: inline;
        font-size: 14px;
    }
    .count .rate {
        position: relative;
        left: auto;
        top: auto;
        width: calc(100% + 20px);
        transform: translate(0,0);
    }
    .count .rate li {
        margin: 0 0 41px 0;
    }
    .count .rate li::after {
        top: 66px;
    }
    .count .rate li .exp {
        font-size: 15px;
    }
    .count .rate li .num strong {
        font-size: 44px;
        line-height: 53px;
    }
    .count .rate li .num span {
        padding: 0 0 0 4px;
        font-size: 18px;
    }
}

.biz { 
    background-color: #F7F3EF;
}
.biz .biz_wrap {
    display: flex;
    align-items: center;
}
.biz img {
    width: calc(100% - 680px); /* wrapper1440, 이미지720px = 720/1440*100 =  */
    margin: 0 80px 0 0;
}
.biz .inner {
    margin: 0;
    width: 480px;
}
.biz a strong {
    display: block;
}
.biz a h2 {
    margin: 30px 0 36px 0;
    font-size: 40px;
    font-weight: 700;
}
.biz a p {
    font-size: 18px;
}
.biz a .exp {
    margin: 41px 0 64px 0;
    font-size: 16px;
}
.biz a .more {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid #666666;
    border-radius: 50%; /* 50%를 주면 사이즈에 상관없이 원이 됨 */
    transition: 0.5s;
}
.biz a .more::before {
    position: absolute;
    left: 25%;
    top: 49%;
    width: 50%;
    height: 2px;
    background-color: #666666;
    content: "";
}
.biz a .more::after {
    position: absolute;
    left: 48%;
    top: 27%;
    width: 2px;
    height: 50%;
    background-color: #666666;
    content: "";
}
.biz a:hover .more {
    transform: rotate(180deg);
}
@media screen and (max-width:1280px){
    .biz img {
        margin: 0 60px 0 0;
        width: calc(100% - 500px);
    }
    .biz .inner {
        margin: 0;
        width: 480px;
    }
    .biz a h2 {
        margin: 16px 0 20px 0;
        font-size: 30px;
    }
    .biz a strong {
        font-size: 15px;
    }
    .biz a p {
        font-size: 16px;
    }
    .biz a .exp {
        margin: 20px 0 34px 0;
        font-size: 15px;
    }
}
@media screen and (max-width:900px){
    .biz {
        padding: 59px 0 45px 0;
    }
    .biz .biz_wrap {
        display: block;
    }
    .biz img {
        width: 100%;
        margin: 0 80px 0 0;
    }
    .biz .inner {
        margin: 20px 0 0 0;
        width: 100%;
    }
    .biz a h2 {
        margin: 14px 0 18px 0;
        font-size: 24px;
    }
}
@media screen and (max-width:640px){
    .biz a h2 {
        margin: 8px 0 10px 0;
        font-size: 22px;
    }
    .biz a p {
        font-size: 13px;
    }
    .biz a .exp {
        margin: 33px 0 42px 0;
        font-size: 13px;
    }
}

.news::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-color: #DA281F;
    content: "";
}
.news h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0 70px 35px 0;
    /* 오른쪽에 more버튼이 배치될 것을 감안해서 more가 들어갈 만한 영역을 여백으로 줌 */
}
.news .list ul li a {
    display: block;
}
.news .list ul li a span {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.news .list ul li a span img {
    width: 100%;
    transition: 0.5s;
}
.news .list ul li a:hover span img {
    transform: scale3d(1.2,1.2,1);
}
.news .list ul li a strong {
    display: block;
    margin: 15px 0 0 0;
    font-size: 22px;
    /* 2줄 고정 */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.news .list .btn_paging span.swiper-pagination-bullet-active {
    background-color: #fff;
}
.news .more {
    position: absolute;
    right: 20px;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%; /* 50%를 주면 사이즈에 상관없이 원이 됨 */
    transition: 0.5s;
    font-size: 0;
    line-height: 0;
}
.news .more:hover {
    transform: rotate(270deg);
}
.news .more::before {
    position: absolute;
    left: 25%;
    top: 49%;
    width: 50%;
    height: 2px;
    background-color: #fff;
    content: "";
}
.news .more::after {
    position: absolute;
    left: 48%;
    top: 27%;
    width: 2px;
    height: 50%;
    background-color: #fff;
    content: "";
}

@media screen and (max-width:1000px){
    .news {
        padding: 40px 0 46px 0;
    }
    .news::before {
        height: 100%;
    }
    .news h2 {
        font-size: 32px;
        margin: 0 70px 30px 0;
    }
    .news h2 span {
        display: block;
    }
    .news .list ul li a strong {
        margin: 10px 0 0 0;
        color: #fff;
        font-size: 18px;
    }
    .news .list .btn_paging {
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center;
    }
    .news .list .btn_paging span {
        width: 8px;
        height: 8px;
        margin: 2.5px;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: #DA281F;
        opacity: 1;
    }
}
@media screen and (max-width:700px){
    .news {
        padding: 40px 0 46px 0;
    }
    .news h2 {
        font-size: 28px;
        margin: 0 70px 30px 0;
    }
    .news h2 span {
        display: block;
    }
    .news .list ul li a strong {
        margin: 10px 0 0 0;
        color: #fff;
        font-size: 16px;
    }
}
@media screen and (max-width:640px){
    .news {
        padding: 40px 0 46px 0;
    }
    .news h2 {
        font-size: 26px;
        margin: 0 70px 30px 0;
    }
    .news h2 span {
        display: block;
    }
    .news .list ul li a strong {
        margin: 10px 0 0 0;
        color: #fff;
        font-size: 14px;
    }
}
.support {
    background-color: #FCEEEE;
}
.support .support_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support .inner {
    width: 37%;
    /* 520/1400*100 */
}
.support .inner h2 {
    margin: 0 0 40px 0;
    font-size: 30px;
    line-height: 38px;
}
.support .inner strong {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
}
.support .inner h2 span {
    display: block; /* 줄바꿈 */
}
.support .inner p {
    font-size: 20px;
}
.support ul {
    width: 48.6%; 
    /* ul을 감싸는 영역 support_wrap의 pc버전 사이즈가 1400px, 
    1400px에서 ul의 pc버전 사이즈 680px의 비율은 몇%? --> 680/1400*100 =  48.5% */
    margin-right: 80px;
}
.support ul li {
    float: left;
    /* 중간 여백을 고정 px로 지정. 나머지 li의 넓이는 % 
        (100%/li의 갯수)% - (한줄의 여백의 합/li의 갯수)px = 50% - 20px */
    width: calc(50% - 20px);
    margin: 0 40px 40px 0;
}
/* 왼쪽 요소와 위아래 정렬을 유지하기 위해서
    왼쪽 카드와 오른쪽 카드의 위치 차이값을 한쪽 요소에 몰아주지 않고 반반 부담하도록 설정함. 
    높낮이 차이값이 180px이면 왼쪽요소는 90부담, 오른쪽 요소는 90부담
    transform:translate로 위치 조정(서로의 위에 영향을 주지 않고 위치를 조정하는 방법)*/
.support ul li:nth-child(1),
.support ul li:nth-child(3) {
    transform: translate(0, -68px);
}
.support ul li:nth-child(2),
.support ul li:nth-child(4) {
    margin-right: 0;
    transform: translate(0, 68px);
}
.support ul li:nth-child(3),
.support ul li:nth-child(4) {
    margin-bottom: 0;
}
.support ul li a {
    display: block;
    position: relative;
    height: 220px;
    padding: 36px 12.5% 0 12.5%;
    /* li의 넓이가 % (높이는 고정)
        그 안의 여백도 %인게 좋음 (일부 원래 여백이 작은 디자인은 고정값으로 주기도 함) 
        넓이가 320px에서 여백 40px은 몇 %? --> 40/320*100 = 12.5%
        높이는 px로 줬기 때문에 높이 위의 padding값은 px로 설정 - 높이는 %로 하기 쉽지 않음
    */
    background-color: #fff;
    box-shadow: 6px 6px 14px rgba(0,0,0,0.08);
}
.support ul li a::after {
    position: absolute;
    right: 28px;
    bottom: 22px;
    /* before, after에 배경이미지를 넣는 경우 width,height 있어야 함 */
    width: 45px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}
.support ul li.list01 a::after {
    background-image: url(../images/main/support_ico1.svg);
}
.support ul li.list02 a::after {
    background-image: url(../images/main/support_ico2.svg);
}
.support ul li.list03 a::after {
    background-image: url(../images/main/support_ico3.svg);
}
.support ul li.list04 a::after {
    background-image: url(../images/main/support_ico4.svg);
}
.support ul li a span {
    display: block;
    font-size: 15px;
}
.support ul li a strong {
    display: block;
    font-size: 32px;
    font-weight: 700;
}
/* 마우스오버 시 색상변경 & active클래스  */
.support ul li a:hover, .support ul li.active a {
    background-color: #ED1B2D;
    color: #fff;
}
.support ul li.list01 a:hover::after, .support ul li.list01.active a::after {
    background-image: url(../images/main/support_ico1_w.svg);
}
.support ul li.list02 a:hover::after, .support ul li.list02.active a::after {
    background-image: url(../images/main/support_ico2_w.svg);
}
.support ul li.list03 a:hover::after, .support ul li.list03.active a::after {
    background-image: url(../images/main/support_ico3_w.svg);
}
.support ul li.list04 a:hover::after, .support ul li.list04.active a::after {
    background-image: url(../images/main/support_ico4_w.svg);
}

/* 마우스 오버 왼쪽 상단으로 이동 */
.support ul li a {
    transition: transform 0.3s, background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.support ul li a::after {
    transition: 0.2s;
}
.support ul li a:hover {
    transform: translate(-10px, -10px);
    box-shadow: 6px 6px 20px rgba(0,0,0,0.15);
}
@media screen and (max-width:1440px){
    .support .inner h2 span {
        display: inline;
    }
}
@media screen and (max-width:1200px){
    .support ul {
        width: 50%;
        margin-right: 50px;
    }
    .support ul li {
        margin: 0 30px 30px 0;
    }
    .support .inner h2 {
        margin: 0 0 30px 0;
        font-size: 26px;
        line-height: 32px;
    }
    .support .inner strong {
        display: block;
        font-size: 30px;
        line-height: 1.5;
    }
    .support .inner p {
        font-size: 16px;
    }
    .support ul li a span {
        font-size: 14px;
    }
    .support ul li a strong {
        font-size: 26px;
    }
}
@media screen and (max-width:900px){
    .support .support_wrap {
        display: block;
        padding: 49px 0 65px 0;
    }
    .support .inner {
        width: auto;
    }
    .support .inner h2 {
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 26px;
    }
    .support .inner strong {
        font-size: 22px;
        line-height: 1.5;
    }
    .support .inner h2 span {
        display: inline;
    }
    .support .inner p {
        font-size: 13px;
        margin: 0 0 40px 0;
    }
    .support ul {
        width: auto; 
        margin-right: 0;
    }
    .support ul li {
        float: none;
        width: auto;
        margin: 0 0 20px 0;
    }
    .support ul li:nth-child(1),
    .support ul li:nth-child(3) {
        transform: translate(0, 0);
    }
    .support ul li:nth-child(2),
    .support ul li:nth-child(4) {
        transform: translate(0, 0);
    }
    .support ul li:nth-child(3) {
        margin-bottom: 20px;
    }
    .support ul li a {
        height: 100px;
        padding: 24px 70px 0 20px;
    }
    .support ul li a::after {
        right: 23px;
        bottom: 20px;
        transform: scale3d(0.9,0.9,1);
    }
    .support ul li a span {
        font-size: 13px;
    }
    .support ul li a strong {
        font-size: 24px;
    }
    /* 마우스 오버 왼쪽 상단으로 이동 */
    .support ul li a {
        transition: transform 0.3s, background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }
    .support ul li a::after {
        transition: 0.2s;
    }
    .support ul li a:hover {
        transform: translate(0, 0);
        box-shadow: 6px 6px 20px rgba(0,0,0,0.15);
    }
}

/* fullpage 공통사항 */

/* 오른쪽 네비게이션 디자인 변경 */
/*  선택자가 #fp-nav ul li인 것과 body #fp-nav ul li 인 것이 동시에 존재한다면
    body부터 선언한 요소가 먼저 적용됨.(단, 나머지 선택자는 동일) */
body #fp-nav ul li {
    width: 10px;
    height: 10px;
    margin: 12px;
}
body #fp-nav ul li:last-child { /* footer 삭제 */
    display: none;
}
body #fp-nav ul li a span,
body #fp-nav ul li:hover a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    margin: 0;
}
body #fp-nav ul li a.active span,
body #fp-nav ul li:hover a.active span  {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #ED1B2D;
}
body #fp-nav ul li .fp-tooltip {
    overflow: visible;
    padding: 3px 10px;
    top: -6px;
    color: #fff;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    max-width: max-content; /* 콘텐츠 있는 만큼 다 */
    border-radius: 5px;
    width: auto;
    background-color: #ED1B2D;
}
body #fp-nav ul li .fp-tooltip::after {
    position: absolute;
    right: -4px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #ED1B2D;
    transform: rotate(45deg);
    content: "";
} 
/* 어두운 툴팁 */
body #fp-nav.black ul li a span,
body #fp-nav.black ul li:hover a span {
    border: 1px solid #ccc;
    background: #fff;
}
body #fp-nav.black ul li a.active span,
body #fp-nav.black ul li:hover a.active span  {
    background: #ED1B2D;
}
body #fp-nav.black ul li .fp-tooltip {
    background-color: #ED1B2D;
}
body #fp-nav.black ul li .fp-tooltip::after {
    background-color: #ED1B2D;
} 
.fp-watermark { /* fullpage copyright 삭제 */
    display: none;
}

/* 모바일에서는 fullpage 적용 안하는데 발생하는 오류 수정 */
body .section .fp-overflow {
    overflow: visible; 
    padding: 100px 0; 
    /* fullpage에서 콘텐츠 영역을 fp-overflow로 잡는데 
        그 영역 밖으로 이동된 콘텐츠가 있으면 그 영역을 스크롤 한다고 판단해서 다음 섹션으로 스크롤을 넘기지 않음
        그래서 콘텐츠를 감싸는 fp-oveflow한테 (fullpage.js가 맘대로 만든 div)
        상하단에 임의의 여백 100px을 줌(더 많이 줘도 됨)
        만약에 영역밖으로 나가는 콘텐츠가 있으면 fp-overflow 영역을 꼭 확인해야 함.
    */
}
body .section.fp-auto-height .fp-overflow,
body.fp-responsive .section .fp-overflow  {
    /* footer처럼 높이를 자유롭게 설정하는 section은 임의의 상하단 여백 안 줌 
        모바일에서 fullpage를 해제한 경우에도 여백을 주지 않기 */
    padding: 0; 
}

.fp-responsive .fp-is-overflow.fp-section {
    min-height: auto !important;
    /* 
    fullpage.js에서 fullpage를 안 할때 body에 주는 클래스명 .fp-responsive

    fullpage.js에서 640이하일때는 fullpage 적용하지 않도록 함.
    근데 이때 min-height가 해제가 안되서 이전 fullpage높이가 잡힘
    그래서 auto를 줘야하는 상황, visual에 min-height:auto; 적용되지 않음 (css적용우선순위에 밀려서)
    이때 줄 값을 먼저 적용하는 방법 !important; 
*/
}

@media screen and (min-width:641px){
    /* visual 애니메이션 */
    /* visual이 로딩됐을 때 애니메이션 글자가 밑에서 위로 나타남 */
    /* .visual h2 em {
        display: block;
        transition: 0.7s;
        opacity: 0;
        transform: translate(0,200px);
    }
    .visual.fp-completely h2 em {
        opacity: 1;
        transform: translate(0, 0);
    } */
    .visual h2 .block {
        display: block;
        overflow: hidden;
    }
    .visual h2 .block span {
        display: block;
        transition: 1s;
        transform: translate(0, 100px);
    }
    .visual h2 .block:nth-child(2) span {
        transition-delay: 0.1s;
    }
    .visual h2 .block:nth-child(3) span {
        transition-delay: 0.2s;
    }
    .visual.fp-completely h2 .block span {
        transform: translate(0, 0);
    }
    
    /* count 애니메이션 */
    .count .tit {
        transition: 0.5s;
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .count.fp-completely .tit {
        opacity: 1;
        transform: translate(0, 0);
    }
    
    /* biz 애니메이션 */
    .biz img {
        transition: 0.8s;
        opacity: 0;
        transform: translate(0, -200px);
    }
    .biz .inner {
        transition: 0.5s;
        transition-delay: 0.5s;
        opacity: 0;
        transform: translate(-100px, 0);
    }
    .biz.fp-completely img {
        opacity: 1;
        transform: translate(0, 0);
    }
    .biz.fp-completely .inner {
        opacity: 1;
        transform: translate(0, 0);
    }
}
/* fullpage가 작동될 때에만 적용하는 애니메이션 */
