@import url('default.css');
@import url('common.css');

.visual h2 {
   position: absolute;
   left: calc(50% - 700px);
   top: 50%;
   z-index: 12;
   width: 1400px;
   margin: 0 auto;
   color: #fff;
   font-size: 56px;
   font-weight: 700;
   line-height: 67px;
   transform: translate(0, -50%);
   /* fullpage.js플러그인에서 한 section에 글자 딱 하나만 존재할때 
    해당글자에 line-height가 들어가면 해당section에서는 scroll이 작동되지 않을 수 있음 */
}
.visual video {
    position:absolute; 
    right:0; 
    bottom:0; 
    top:0; 
    z-index: 10;
    width:100%; 
    height:100%; 
    object-fit:cover;
}
.visual .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* left, top, right, bottom 다 0으로 주면 width:100%;, height:100%;과 동일하게 적용됨 */
    z-index: 11;
    background-color: rgba(0,0,0,0.2);
}
@media screen and (max-width:1440px){
    .visual h2 {
        left: 20px;
        font-size: 50px;
    }
}
@media screen and (max-width:1280px){
    .visual h2 {
        left: 20px;
        font-size: 48px;
        line-height: 58px;
    }
}   
@media screen and (max-width:980px){
    .visual h2 {
        left: 20px;
        font-size: 38px;
        line-height: 46px;
    }
}

@media screen and (max-width:640px){
    /* 만약 fullpage를 모바일에서 해제하고 높이를 제한해야한다.
        section클래스를 준 요소 말고 그 안에 있는 요소한테 높이를 줘야 함 */
    .visual .inner {
        height: 400px;
    }
    .visual h2 {
        left: 20px;
        font-size: 30px;
        line-height: 37px;
    }
}
.count {
    color: #fff;
    background-color: #926D49;
}
.count .tit {
    margin: 0 0 0 120px;
}
.count .tit h2 {
    margin: 0 0 27px 0;
    font-size: 40px;
    line-height: 50px;
}
.count .tit h2 strong {
    font-weight: 700;
}
.count .tit p span {
    display: block;
}
.count .rate {
    position: absolute;
    left: calc(50% + 140px);
    top: 50%;
    width: 50%;
    transform: translate(0, -50%);
}
.count .rate li {
    position: relative;
    margin: 0 0 46px 0;
}
.count .rate li:last-child {
    margin-bottom: 0;
}
.count .rate li::after {
    position: absolute;
    left: 0;
    top: 82px;
    z-index: -1; /* 어쩔수 없이 position:absolute;이지만  */
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.count .rate li .exp {
    font-weight: 700;
}

.count .rate li .num strong {
    display: inline-block;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    background-color: #926D49;
}
.count .rate li .num span {
    position: relative;
    padding: 0 2px 0 5px;
    font-size: 22px;
    font-weight: 700;
    background-color: #926D49;
}
/* .count .rate li .num span::after {
    position: absolute;
    left: 100%;
    top: 26px;
    width: 10000%;
    height: 1px;
    background-color: #ccc;
    content: "";
} */

@media screen and (max-width:1440px){
    .count .tit {
        margin: 0;
    }
}
@media screen and (max-width:1280px){
    .count .rate {
        left: calc(50% + 50px);
    }
}
@media screen and (max-width:980px){
    .count .rate li .num strong {
        font-size: 46px;
    }
}
@media screen and (max-width:780px){
    .count .tit h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width:640px){
    .count {
        padding: 51px 0 81px 0;
    }
    .count .tit h2 {
        margin: 0 0 22px 0;
        font-size: 24px;
        line-height: 30px;
    }
    .count .tit p span {
        display: inline;
        font-size: 14px;
    }
    .count .rate {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        transform: translate(0,0);
    }
    .count .rate li {
        margin: 50px 0 41px 0;
    }
    .count .rate li::after {
        top: 65px;
        width: 117%;
    }
    .count .rate li .exp {
        font-size: 15px;
        font-weight: 700;
    }
    .count .rate li .num strong {
        display: inline-block;
        font-size: 44px;
        line-height: 53px;
    }
    .count .rate li .num span {
        padding: 0 0 0 4px;
        font-size: 18px;
    }
}

.biz { 
    background-color: #F7F3EF;
}
.news {
    background-color: #DA281F;
}
.support {
    background-color: #FCEEEE;
}
.footer {

}

/* 오른쪽 네비게이션 디자인 변경 */
/*  선택자가 #fp-nav ul li인 것과 body #fp-nav ul li 인 것이 동시에 존재한다면
    body부터 선언한 요소가 먼저 적용됨.(단, 나머지 선택자는 동일) */
body #fp-nav ul li {
    width: 10px;
    height: 10px;
    margin: 12px;
}
body #fp-nav ul li:last-child { /* footer 삭제 */
    display: none;
}
body #fp-nav ul li a span,
body #fp-nav ul li:hover a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    margin: 0;
}
body #fp-nav ul li a.active span,
body #fp-nav ul li:hover a.active span  {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #ED1B2D;
}
body #fp-nav ul li .fp-tooltip {
    overflow: visible;
    padding: 3px 10px;
    top: -6px;
    color: #fff;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    max-width: max-content; /* 콘텐츠 있는 만큼 다 */
    border-radius: 5px;
    width: auto;
    background-color: #ED1B2D;
}
body #fp-nav ul li .fp-tooltip::after {
    position: absolute;
    right: -4px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #ED1B2D;
    transform: rotate(45deg);
    content: "";
} 
/* 어두운 툴팁 */
body #fp-nav.black ul li a span,
body #fp-nav.black ul li:hover a span {
    border: 1px solid #ccc;
    background: #fff;
}
body #fp-nav.black ul li a.active span,
body #fp-nav.black ul li:hover a.active span  {
    background: #ED1B2D;
}
body #fp-nav.black ul li .fp-tooltip {
    background-color: #ED1B2D;
}
body #fp-nav.black ul li .fp-tooltip::after {
    background-color: #ED1B2D;
} 
.fp-watermark { /* fullpage copyright 삭제 */
    display: none;
}
body .section .fp-overflow {
    overflow: hidden; 
 }
/* 모바일에서는 fullpage 적용 안하는데 발생하는 오류 수정 */
@media screen and (max-width:640px){
    .fp-responsive .fp-is-overflow.fp-section {
        min-height: auto !important;
    }
    /* fullpage.js에서 640이하일때는 fullpage 적용하지 않도록 함.
        근데 이때 min-height가 해제가 안되서 이전 fullpage높이가 잡힘
        그래서 auto를 줘야하는 상황, visual에 min-height:auto; 적용되지 않음 (css적용우선순위에 밀려서)
        이때 줄 값을 먼저 적용하는 방법 !important; 
    */
}