@import url('default.css');
@import url('common.css');

/* 메인에 있는 스타일만 정의 */


.visual {
    position: relative;
    height: 100vh; 
    background: url(../images/main/visual_bg.png) no-repeat center center / cover ;
    color: #fff;
}   
.visual .visual_wrap {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    transform: translate(0, -50%);
    /* 
    해당요소의 넓이와 높이를 계산해서 그 값의 50%를 왼쪽 오른쪽으로 이동
    top:50%; 을 주면 위아래 가운데에서 시작해서 아래로 콘텐츠가 배치됨
    콘텐츠의 위아래 여백을 동일하게 주려면 (즉, 콘텐츠가 자기높이의 절반이 위로 이동)
    transform:translate(좌우이동값, 위아래이동값-50%)을 주면 됨.
    */
}
.visual h2 {
    margin: 0 0 36px 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
}
.visual h2 strong {
    display: block;
    margin: 16px 0 0 0;
    font-weight: 700;
}
.visual .search {
    width: 403px;
    height: 68px;
    border: 2px solid #fff;
    border-radius: 34px;
}
.visual .search label {
    display: none; /* 접근성 때문에 준 태그 */
}
.visual .search input[type="text"]{
    /* <input type="text">라고 되어있는 태그만 지칭 */
    float: left;
    width: 280px;
    height: 64px;
    margin: 0 0 0 35px;
    border: 0;
    outline: 0; /* focus 되었을때 테두리가 생성되는 것을 삭제 */
    background-color: transparent;
    font-size: 20px;
}
.visual .search input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}
.visual .search .btn {
    float: left; /* 키워드 입력란과 버튼 사이 여백 삭제 */
    width: 64px;
    height: 64px;
}
.visual .search input.btn {
    border: 0;
    background-color: transparent;
    background-image: url(../images/main/search_ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0; /* 버튼글자없애기 */
    cursor: pointer; /* 마우스오버시 손바닥모양 */
}
.visual .search button.btn span {
    display: none;
}
.visual .search button.btn i {
    font-size: 23px;
    margin: 3px 0 0 0;
}

@media screen and (max-width:640px){
    .visual {
        height: 520px; 
    }   
    .visual .visual_wrap {
        left: 20px;
    }
    .visual h2 {
        margin: 0 0 63px 0;
        font-size: 24px;
        line-height: 26px;
    }
    .visual h2 strong {
        margin: 12px 0 0 0;
    }
    .visual .search {
        width: 212px;
        height: 36px;
        border: 1px solid #fff;
    }
    .visual .search input[type="text"]{
        width: 154px;
        height: 35px;
        margin: 0 0 0 19px;
        font-size: 11px;
    }
    .visual .search input.btn {
        background-size: 12px;
    }
    .visual .search .btn {
        width: 34px;
        height: 34px;
    }
    .visual .search button.btn i {
        font-size: 12px;
    }
}

.part {
    margin: 152px 0 0 0;
}
.part h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 28px 0;
}
.part .list ul {
    width: 2400px; 
    /* 모든 li의 넓이값을 포함한 넓이 + 여백을 합한 넓이
        (li넓이 440px + 여백 40px) * li 개수 5 = 2400 */
    margin-left: -480px; /* 하나의 li넓이 + 여백값 */
}
.part .list ul li {
    float: left;
    width: 440px;
    margin-right: 40px;
}
.part .list ul li a {
    display: block;
}
.part .list ul li a .pic {
    overflow: hidden; 
    /* 마우스 오버시 이미지가 확대되는데 영역 밖으로 이미지가 나가지 않도록 */
    font-size: 0;
    line-height: 0;
    /* 이미지 하단에 발생하는 여백 삭제 */
}
.part .list ul li a p {
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.part .list ul li a .pic img {
    width: 100%;
    transition: 0.3s;
}
.part .list ul li a h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 12px 0 9px 0;
}

/* 마우스 오버했을 때 */
.part .list ul li a:hover .pic img {
    transform: scale3d(1.2, 1.2, 1);
}
.part .more {
    position: absolute;
    right: 0;
    top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 107px;
    height: 35px;
    border: 1px solid #3D3D3D;
    border-radius: 18px;
}
.part span {
    margin: 2px 0 0 0;
}
.part .more i {
    font-size: 12px;
}

@media screen and (max-width:640px){
    .part {
        margin: 43px 0 0 0;
    }
    .part h2 {
        font-size: 24px;
        margin: 0 0 21px 0;
    }
    .part .list {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px; /* 가로 스크롤바가 글자에 겹쳐서 */
    }
    .part .list ul {
        width: 1220px; 
        /* 모든 li의 넓이값을 포함한 넓이 + 여백을 합한 넓이
            (li넓이 228px + 여백 20px) * li 개수 5 = 1240 */
        margin-left: 0; /* 모바일은 첫번째 li부터 나타남 */
    }
    .part .list ul li {
        width: 228px;
        margin-right: 20px;
    }
    .part .list ul li:last-child {
        margin-right: 0;
    }
    .part .list ul li a h3 {
        font-size: 17px;
        margin: 7px 0 9px 0;
    }
    .part .more {
        top: 6px;
        width: 20px;
        height: 19px;
    }
    .part span {
        display: none;
        margin: 2px 0 0 0;
    }
    .part .more i {
        font-size: 4px;
    }
}
