@import url('default.css');
@import url('common.css');

/* 메인에 있는 스타일만 정의 */


.visual {
    position: relative;
    height: 100vh; 
    background: url(../images/main/visual_bg.png) no-repeat center center / cover ;
    color: #fff;
}   
.visual .visual_wrap {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    transform: translate(0, -50%);
    /* 
    해당요소의 넓이와 높이를 계산해서 그 값의 50%를 왼쪽 오른쪽으로 이동
    top:50%; 을 주면 위아래 가운데에서 시작해서 아래로 콘텐츠가 배치됨
    콘텐츠의 위아래 여백을 동일하게 주려면 (즉, 콘텐츠가 자기높이의 절반이 위로 이동)
    transform:translate(좌우이동값, 위아래이동값-50%)을 주면 됨.
    */
}
.visual h2 {
    margin: 0 0 36px 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
}
.visual h2 strong {
    display: block;
    margin: 16px 0 0 0;
    font-weight: 700;
}
.visual .search {
    width: 403px;
    height: 68px;
    border: 2px solid #fff;
    border-radius: 34px;
}
.visual .search label {
    display: none; /* 접근성 때문에 준 태그 */
}
.visual .search input[type="text"]{
    /* <input type="text">라고 되어있는 태그만 지칭 */
    float: left;
    width: 280px;
    height: 64px;
    margin: 0 0 0 35px;
    border: 0;
    outline: 0; /* focus 되었을때 테두리가 생성되는 것을 삭제 */
    background-color: transparent;
    font-size: 20px;
}
.visual .search input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}
.visual .search .btn {
    float: left; /* 키워드 입력란과 버튼 사이 여백 삭제 */
    width: 64px;
    height: 64px;
}
.visual .search input.btn {
    border: 0;
    background-color: transparent;
    background-image: url(../images/main/search_ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 0; /* 버튼글자없애기 */
    cursor: pointer; /* 마우스오버시 손바닥모양 */
}
.visual .search button.btn span {
    display: none;
}
.visual .search button.btn i {
    font-size: 23px;
    margin: 3px 0 0 0;
}

@media screen and (max-width:640px){
    .visual {
        height: 520px; 
    }   
    .visual .visual_wrap {
        left: 20px;
    }
    .visual h2 {
        margin: 0 0 63px 0;
        font-size: 24px;
        line-height: 26px;
    }
    .visual h2 strong {
        margin: 12px 0 0 0;
    }
    .visual .search {
        width: 212px;
        height: 36px;
        border: 1px solid #fff;
    }
    .visual .search input[type="text"]{
        width: 154px;
        height: 35px;
        margin: 0 0 0 19px;
        font-size: 11px;
    }
    .visual .search input.btn {
        background-size: 12px;
    }
    .visual .search .btn {
        width: 34px;
        height: 34px;
    }
    .visual .search button.btn i {
        font-size: 12px;
    }
}