@import url('default.css');

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(225,225,225,0.2);
    color: #ffffff;
}
header::after {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 260px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    content: "";
}
header h1 {
    float: left;
    margin: 30px 0 25px 0;
}
header h1 a {
    display: block;
    width: 128px;
    height: 44px;
    background: url(../images/logo_w.svg) no-repeat left top / 100% auto;
    /* 영역에 맞춰서 들어가는 로고는 짤리면 안됨 (cover X), 
    고로 size가 100% 넓이에 꽉차고 auto 높이 비율에 맞게 알아서 들어가야 함 */
    font-size: 0;
    line-height: 0;
}
header nav {
    position: relative;
    z-index: 110;
    float: right;
    padding: 12px 0 0 0;
}
header nav .gnb_open {
    display: none;
}
header nav .gnb_open span {
    display: none;
}
header nav .gnb_close {
    display: none;
}
/*
<nav>
	<ul>
		<li>
			<a href="#">1차 메뉴1</a>
			<ul>
				<li><a href="#">2차 메뉴1</a></li>
			</ul>
		</li>
	</ul> 
</nav>
    이렇게 동일한 태그가 반복되는 경우 (메뉴) 사용하는게 자식 선택자
    1. 자식 선택의 시작이 반복되는 태그 X, nav처럼 한번 나오는 태그만 가능
    2. 자식 선택으로 선택시 중간에 감싸는 태그를 누락할 수 없음
    nav > ul > ul --> 선택 불가 
    그래서 1차 메뉴의 a를 선택하는 선택자는 nav > ul > li > a
    2차 메뉴의 a를 선택하는 선택자는 nav > ul > li > a 
*/
header nav > ul > li { /* 1차메뉴 li */
    float: left;
    width: 240px;
    text-align: center;
}
header nav > ul > li > a { /* 1차메뉴 */
    display: block;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
}
header nav > ul > li:hover > a {
    color: #F26729;
}
header nav > ul > li > a > span {
    position: relative;
}
header nav > ul > li:hover > a span::before {
    position: absolute;
    left: -10px;
    top: -1px;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #F26729;
    content: "";
}

header nav > ul > li > ul { /* 2차메뉴 */
    display: none;
    padding: 25px 0 0 0;
    /* 1차메뉴와 2차메뉴 사이에는 여백이 존재하면 안됨(margin X) 
    padding은 내부여백으로 태그영역 자체가 늘어나는 것이라 여백 아님 */
}

header nav > ul > li > ul > li > a {
    display: block;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 40px;
}
header nav > ul > li > ul > li > a:hover {
    color: #3D3D3D;
    font-weight: 700;
} 

/* header가 고정되거나(fixed), 메뉴에 마우스를 오버했을때(open) */
header.fixed {
    position: fixed;
}
header.fixed, header.open {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed h1 a, header.open h1 a {
    background-image: url(../images/logo.svg) 
}
header.open::after {
    display: block;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 260px;
    background-color: #fff;
    content: "";
}
header.open nav > ul > li > ul { /* 2차메뉴 */
    display: block;
}

@media screen and (max-width:640px){
    header {
        height: 45px;
    }
    header h1 {
        margin: 13px 0 10px 0;
    }
    header h1 a {
        width: 60px;
        height: 20px;
    }
    header nav {
        padding: 0;
    }
    header nav .gnb_open {
        display: block;
        padding: 0 0 0 10px;
        height: 45px;
    }
    header nav .gnb_open i {
        font-size: 20px;
        font-weight: 300;
        padding: 13px 0 0 0;
    }
    header nav > ul  {
        display: none;
    }
}/* header media 종료 */

.visual {
    height: 900px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    padding: 310px 0 0 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 137px 0 331px 0;
        font-size: 36px;
        line-height: 1.3;
    }
}/* visual media 종료 */

.product {
    margin: 178px 0 0 0;
}
.product h2 {
    position: sticky;
    left: 0;
    top: 105px;
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.product h2 span { /* pc에서만 줄바꿈 */
    display: block;
}
.product .list {
    margin-left: 440px;
}
.product .list ul li {
    margin: 0 0 100px 0;
    width: 400px;
}
.product .list ul li:nth-child(1),
.product .list ul li:nth-child(3),
.product .list ul li:nth-child(5) {
    float: left;
}
.product .list ul li:nth-child(2) {
    margin-top: 203px;
}
.product .list ul li:nth-child(2),
.product .list ul li:nth-child(4) {
    float: right;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a strong {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    /* 2줄 
    line-height: 1.5;
    height: 3em;
    overflow: hidden; */
}
.product .list ul li a span {
    display: block;
    margin: 10px 0 20px 0;
}
.product .list ul li a i {
    font-size: 28px;
}
@media screen and (max-width:640px){
    .product {
        margin: 72px 0 0 0;
    }
    .product h2 {
        position: relative;
        left: auto;
        top: auto;
        float: none;
        font-size: 24px;
    }
    .product h2 span { /* pc에서만 줄바꿈 */
        display: inline;
    }
    .product .list {
        width: calc(100% + 16px);
        overflow-y: hidden;
        overflow-x: auto;
        margin-left: 0;
    }
    .product .list ul { /* 208+16= 224, 224*5 */
        width: 1120px;
        padding: 14px 0; /* 스크롤바가 콘텐츠 바로 아래에 생성되는 것을 막기 위해서 */
    }
    .product .list ul li {
        margin: 0 16px 0 0;
        width: 208px;
    }
    .product .list ul li:nth-child(2),
    .product .list ul li:nth-child(4) {
        float: left;
    }
    .product .list ul li:nth-child(2) {
        margin-top: 0;
    }
    .product .list ul li a img {
        width: 100%;
    }
    .product .list ul li a strong {
        font-size: 16px;
        line-height: 1.5;
        line-height: 1.5;
        height: 3em;
        overflow: hidden; 
    }
    .product .list ul li a span {
        display: block;
        margin: 3px 0 20px 0;
        line-height: 1.5;
        height: 3em;
        overflow: hidden; 

    }
    .product .list ul li a i {
        font-size: 15px;
    }
}/* product media 종료 */

.brand {
    margin: 70px 0 0 0;
    padding: 0 0 110px 0;
    background-color: #f4f4f4;
    text-align: center;
}
.brand h2 {
    padding: 113px 0 82px 0;
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
}
.brand h2 strong {
    display: block;
    font-size: 22px;
    font-weight: 400;
}
.brand ul li {
    position: relative; /* after정렬의 기준점 */
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.brand ul li:last-child {
    margin-right: 0;
}
.brand ul li i {
    font-size: 30px;
}
.brand ul li h3 {
    margin: 10px 0 17px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
}
.brand ul li::after {
    position: absolute;
    right: -20px;
    top: 33px;
    width: 1px;
    height: 100px;
    background-color: #ddd;
    content: "";
}
.brand ul li:last-child:after {
    display: none;
}

@media screen and (max-width:640px){
    .brand {
        margin: 55px 0 0 0;
        padding: 0 0 38px 0;
    }
    .brand h2 {
        padding: 47px 0 14px 0;
        font-size: 20px;
    }
    .brand h2 strong {
        display: block;
        font-size: 13px;
    }
    .brand ul li {
        width: 50%;
        margin: 0;
        padding: 30px 0 31px 0;
    }
    .brand ul li::after {
        right: 0px;
        top: 0px;
        height: 100%;
    }
    .brand ul li:nth-child(1)::after {
        top: 31px;
    }
    .brand ul li:nth-child(3)::after {
        top: auto;
        bottom: 31px;
    }

    .brand ul li:nth-child(2)::after {
        display: none;
    }
    .brand ul li:nth-child(3)::before,
    .brand ul li:nth-child(4)::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        content: "";
    }
    .brand ul li i {
        font-size: 20px;
    }
    .brand ul li h3 {
        margin: 12px 0 10px 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
    }
    
}/* brand media 종료 */

.service h2 {
    display: none;
}
.service ul li {
    float: left;
    width: 33.33%;
    /* 10/3 = 3.3333..을 반올림해서 33.34%로 주면 3등분이 되지 않는다. 
    33.33*3 = 100 이하여야 함.  */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.service ul li.how {
    background-image: url(../images/service01\ \(1\).png);
} 
.service ul li.store {
    background-image: url(../images/service02\ \(1\).png);
} 
.service ul li.color {
    background-image: url(../images/service03\ \(1\).png);
} 
.service ul li a {
    display: block;
    padding: 70px 0 0 60px;
    height: 345px;
}
.service ul li a span {
    display: block;
    font-size: 18px;
    font-weight: 700;
}
.service ul li a strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.service ul li a i {
    font-size: 28px;
}

@media screen and (max-width:640px){
    .service ul li {
        float: none;
        width: auto;
    }
    .service ul li a {
        padding: 29px 0 0 20px;
        height: 120px;
    }
    .service ul li a span {
        font-size: 13px;
    }
    .service ul li a strong {
        margin: 0 0 2px 0;
        font-size: 22px;
    }
    .service ul li a i {
        font-size: 15px;
    }
}/* service media 종료 */

aside {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 10;
}
aside button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #1d1d1d;
    text-align: center;
}
aside button i {
    font-size: 22px;
    color: #fff;
    padding: 5px 0 0 0
}
@media screen and (max-width:1400px){
    aside {
        display: none; 
    }
}

footer {
    padding-bottom: 63px;
    background-color: #3D3D3D;
    color: rgba(225,225,225,0.7);
}

footer .inner {
    position: relative; /* flogo정렬의 기준점 */
}
footer .sns {
    height: 78px;
    border-bottom: 1px solid rgba(225,225,225,0.1);
}
footer .sns ul {
    float: right;
    margin: 23px 0 0 0;
}
footer .sns ul li {
    float: left;
    margin: 0 20px 0 0;
}
footer .sns ul li:last-child {
    margin-right: 0;
}
footer .sns ul li a {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: rgba(225,225,225,0.4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    /* a안에 글자가 안보이게 */
    font-size: 0;
    line-height: 0;
}
footer .sns ul li.facebook a {
    background-image: url(../images/sns_facebook.svg);
}
footer .sns ul li.blog a {
    background-image: url(../images/sns_naver.svg);
}
footer .sns ul li.insta a {
    background-image: url(../images/sns_insta.svg);
}
footer .sns ul li.youtube a {
    background-image: url(../images/sns_youtube.svg);
}
footer .flogo {
    position: absolute;
    left: 0;
    top: 27px;
} 
footer .flogo img {
    width: 84px;
    opacity: 0.7;   
}
footer .finfo {
    margin: 30px 0;
    line-height: 1.7;
}
footer .finfo span {
    display: inline-block;
    margin-right: 4px;
}

@media screen and (max-width:640px){
    footer {
        padding-bottom: 38px;
    }
    footer .sns {
        text-align: center;
        height: 60px;
    }
    footer .sns ul {
        display: inline-block;
        float: none;
        margin: 0;
        padding: 18px 0 0 0;
    }
    footer .sns ul li {
        margin: 0 14px 0 0;
    }
    footer .sns ul li:last-child {
        margin-right: 0;
    }
    footer .sns ul li a {
        width: 26px;
        height: 26px;
        border-radius: 13px;
        background-size: 20px auto;
    }
    footer .flogo {
        margin: 13px 0 0 0;
        position: relative;
        left: auto;
        top: auto;
    } 
    footer .flogo img {
        width: 61px;
    }
    footer .finfo {
        margin: 10px 0;
    }
    footer .finfo span {
        margin-right: 0;
    }
}/* footer media 종료 */