/* 각각의 콘텐츠 페이지의 스타일을 저장 */

/* 회사소개 > ceo 인사말 */
.cnt_ceo {
    position: relative;
}
/* \
    이미지가 콘텐츠 영역 안에도 있고 일부 밖에도 나가는 디자인
    콘텐츠 영역 밖에 나간 이미지는 브라우저 사이즈가 줄어들면 짤려도 상관 없음.
    position:absolute; left/right:50%; 가운데를 기준으로 정렬해서 배치함
    --> 브라우저 사이즈가 변경되도 변하지 않는 위치는 가운데이기 때문에 
    --> 왼쪽배치는 right 50, 여백 margin-right 
        오른쪽배치는 left 50, 여백 margin-left 
*/
.cnt_ceo .ceo_pic {
    position: absolute;
    right: 50%;
    top: 0;
    margin: 33px 140px 0 0;
}
.cnt_ceo .inner {
    margin: 0 0 0 632px;
}
.cnt_ceo .tit {
    margin: 0 0 35px 0;
    font-size: 40px;
    font-weight: 700;
}
.cnt_ceo .tit strong {
    color: #ED1C24;
}
.cnt_ceo .sign {
    margin: 54px 0 0 0;
    text-align: right;
}
.cnt_ceo .sign p {
    margin: 0 0 10px 0;
}

@media screen and (max-width:640px){
    .cnt_ceo .ceo_pic {
        display: none;
    }
    .cnt_ceo .inner {
        margin: 0;
    }
    .cnt_ceo .tit {
        margin: 0 0 20px 0;
        padding: 24px 0 0 0;
        font-size: 20px;
    }
    .cnt_ceo .sign {
        margin: 24px 0 0 0;
    }
    .cnt_ceo .sign p {
        margin: 0 0 9px 0;
    }
    
}

/* 회사소개 > 연혁 */
.cnt_historyN .tit {
    font-size: 26px;
    text-align: center;
}
.cnt_historyN .tit span {
    display: block; /* pc에서만 줄바꿈 */
}
.cnt_historyN .historyN_wrap {
    position: relative;
    margin: 56px 0 0 0;
}
.cnt_historyN .historyN_wrap::before {
    position: absolute;
    left: 50%;
    top: 24px;
    width: 2px;
    height: calc(100% - 21px);
    background-color: #ED1C24;
    content: "";
}
.cnt_historyN .inner {
    position: relative; /* year_tit 정렬의 기준 */
}
.cnt_historyN .inner + .inner {
    margin: 93px 0 0 0;
}
.cnt_historyN .year_tit {
    position: absolute;
    top: 0;
}

.cnt_historyN .year_tit.left {
    left: 0;
}
.cnt_historyN .year_tit.right {
    right: 0;
}
.cnt_historyN .year_tit .bg {
    margin-top: 16px;
    width: 600px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_historyN .year_tit .bg.year2010 {
    background-image: url(../images/contents/historyN_img01.png);
}
.cnt_historyN .year_tit .bg.year2000 {
    background-image: url(../images/contents/historyN_img02.png);
}

.cnt_historyN .year_tit h3 {
position: absolute;
width: 100%;
font-size: 55px;
font-weight: 700;
color: #fff;
}
.cnt_historyN .year_list.left {
    margin: 0 0 0 50%;
}
.cnt_historyN .year_list.right {
    margin: 0 50% 0 0;
}
.cnt_historyN .year_tit.left h3 {
    right: -375px;
    bottom: 45px;
}
.cnt_historyN .year_tit.right h3 {
    left: 233px;
    bottom: 45px;
}
.cnt_historyN .year_list h4 {
    position: relative;
    color: #ED1C24;
    font-size: 36px;
    font-weight: 700;
}
.cnt_historyN .year_list.left h4 {
    margin-left: 43px;
    float: left;
}
.cnt_historyN .year_list.right h4 {
    margin-right: 43px;
    float: right;
}

.cnt_historyN .year_list h4::before {
    position: absolute;
    top: 23px;
    width: 8px;
    height: 8px;
    border: 2px solid #ED1C24;
    border-radius: 10px;
    background-color: #fff;
    content: "";
}
.cnt_historyN .year_list.left h4::before {
    left: -48px;
}
.cnt_historyN .year_list.right h4::before {
    right: -50px;
}
.cnt_historyN .year_list.left dl {
    margin: 0 0 85px 162px;
}
.cnt_historyN .year_list.right dl {
    margin: 0 162px 85px 0;
}
.cnt_historyN .year_list.left dl dt {
    float: left;
}
.cnt_historyN .year_list.right dl dt {
    float: right;
}
.cnt_historyN .year_list.left dl dd {
    margin-left: 24px;
}
.cnt_historyN .year_list.right dl dd {
    margin-right: 24px;
    text-align: right;
}
.cnt_historyN .year_list dl {
    padding-top: 12px;
} 
.cnt_historyN .year_list dl dt {
    line-height: 1.3;
}
.cnt_historyN .year_list dl dd {
    line-height: 1.3;
    margin-bottom: 5px;
}
.cnt_historyN .year_list dl dd ~ dt {
    padding-top: 5px;
}
.cnt_historyN .year_list dl dt + dd ~ dt + dd {
    padding-top: 5px;
}

@media screen and (max-width:640px){
    /* 회사소개 > 연혁 */
.cnt_historyN .tit {
    font-size: 15px;
}
.cnt_historyN .tit span {
    display: inline; /* pc에서만 줄바꿈 */
}
.cnt_historyN .historyN_wrap {
    margin: 34px 0 0 0;
}
.cnt_historyN .historyN_wrap::before {
    left: 0;
    top: 0;
    height: calc(100% - 46px);
}
.cnt_historyN .inner + .inner {
    margin: 111px 0 0 0;
}
.cnt_historyN .year_tit {
    position: relative;
    width: calc(100% + 40px);
}
.cnt_historyN .year_tit.left {
    left: -20px;
}
.cnt_historyN .year_tit.right {
    right: 20px;
}
.cnt_historyN .year_tit .bg {
    margin-top: 0;
    height: 152px;
}
.cnt_historyN .year_tit h3 {
    position: absolute;
    width: 100%;
    font-size: 30px;
}
.cnt_historyN .year_list.left {
    margin: 59px 0 0 33px;
}
.cnt_historyN .year_list.right {
    margin: 59px 0 0 33px;
}
.cnt_historyN .year_tit.left h3 {
    right: -135px;
    bottom: 45px;
}
.cnt_historyN .year_tit.right h3 {
    left: 88px;
    bottom: 45px;
}
.cnt_historyN .year_list h4 {
    font-size: 24px;
}
.cnt_historyN .year_list.left h4 {
    margin-left: 0;
    float: none;
}
.cnt_historyN .year_list.right h4 {
    margin-right: 0;
    float: none;
}
.cnt_historyN .year_list h4::before {
    top: 15px;
}
.cnt_historyN .year_list.left h4::before {
    left: -38px;
}
.cnt_historyN .year_list.right h4::before {
    left: -38px;
}
.cnt_historyN .year_list.left dl {
    margin: 10px 0 30px 0;
}
.cnt_historyN .year_list.right dl {
    margin:  10px 0 30px 0;
}
.cnt_historyN .year_list.right dl dt {
    float: left;
}
.cnt_historyN .year_list.left dl dd {
    margin-left: 20px;
}
.cnt_historyN .year_list.right dl dd {
    margin-right: 0;
    margin-left: 20px;
    text-align: left;
}
.cnt_historyN .year_list dl {
    padding-top: 0;
} 
.cnt_historyN .year_list dl dd ~ dt {
    padding-top: 3px;
}
.cnt_historyN .year_list dl dt + dd ~ dt + dd {
    padding-top: 3px;
}
}