@import url('default.css');

header {
    /* body를 기준으로 정렬 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    /* z-index 숫자가 높은 요소가 위에 배치 
    하단에 다른 요소가 z-index를 가질 수 있기 때문에 header를 무조건 상단에 두기 위해 안전하게 100. 
    즉, content영역에 요소는 z-index를 줘도 100미만의 값을 줘야함 */
    width: 100%;
    /* absolute를 주면 해당요소는 inline태그처럼 작동된다.
    width가 내부요소가 존재하는 만큼 들어감. */
    height: 100px;
}
header h1 {
    float: left;
    margin: 36px 300px 0 0;
    font-size: 0;
    line-height: 0;
    /* 로고가 글자없이 이미지만 존재 
    그래도 글자 크기와 행간 때문에 여백 발생
    이 여백을 없애고 img가 존재하는 만큼만 적용 */
}
header h1 a {
    display: block;
}
header .gnb {
    float: left;
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 36px 24px ;
    font-size: 22px;
    color: #fff;
}
header .tnb {
    margin: 36px 0 0 0;
    float: right;
}
header .tnb button {
    margin: 0 0 0 16px;
}
header .tnb button i {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
}
header .tnb span {
    display: none;
}
header .gnb button {
    display: none; /* 모바일 메뉴 열기 버튼 */
}

@media screen and (max-width:640px){
    header {
        height: 44px;
    }
    header h1 {
        margin: 13px 0 0 0;
    }
    header h1 img {
        width: 40px; /* 모바일에서는 로고 사이즈 변경 */
    }
    header .gnb {
        float: right;
        margin: 14px 0 0 0;
    }
    header .gnb ul li {
        display: none;
    }
    header .tnb {
        display: none;
    }
    header .gnb button {
        display: block; /* 모바일 메뉴 열기 버튼 */
    }
    header .gnb button i {
        color: #fff;
        font-size: 18px;
    }
    header .gnb button span {
        display: none;
    }

}/* media 종료 */

.visual {
    position: relative; /* before의 기준점 */
    height: 900px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); 
    content: "";
}
.visual .inner {
    /* before 검은색보다 글자를 위에 배치하기 위해서 */
    position: relative;
    z-index: 1;
}
.visual h2 {
    padding: 330px 0 20px 0;
    font-size: 42px;
    font-weight: 700; 
}
.visual h2 span {
    display: block; /* pc에서만 줄바꿈 */
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 187px 0 217px 0;
        font-size: 22px;
    }
    .visual h2 span {
        display: inline;
    }
    .visual p {
        display: none; /* 모바일에서 안 보임 */
    }
}/* media 종료 */

.biz .rowgroup1 {
    margin: 143px 0 60px 0;
}
.biz .rowgroup3 {
    margin: 60px 0 173px 0;
}
.biz .fleft img {
    float: left;
}
.biz .fleft .inner {
    float: right;
    margin: 0 92px 0 0;
}
.biz .fright img {
    float: right;
}
.biz .fright .inner {
    float: left;
    margin: 0 92px 0 0;
}
.biz .inner {
    width: 458px;
}
.biz h2 {
    margin: 40px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.biz strong {
    margin: 0 0 10px 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.biz .link {
    margin: 49px 0 0 0;
}
.biz .link ul li {
    float: left;
    margin: 0 2px 2px 0;
    width: 150px; 
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.biz .link ul li a {
    display: block;
    line-height: 45px;
    white-space: nowrap;
    text-align: center;
}
@media screen and (max-width:640px){
    .biz .rowgroup1 {
        margin: 64px 0 52px 0;
    }
    .biz .rowgroup3 {
        margin: 52px 0 64px 0;
    }
    .biz .fleft img {
        float: none;
    }
    .biz .fleft .inner {
        float: none;
        margin: 0;
    }
    .biz .fright img {
        float: none;
    }
    .biz .fright .inner {
        float: left;
        margin: 0;
    }
    .biz .inner {
        width: auto;
    }
    .biz img {
        width: 100%; /* img 태그는 넓이나 높이 하나만 주면 비율에 맞게 줄어듦. */
    }
    .biz h2 {
        margin: 15px 0 10px 0;
        font-size: 20px;
    }
    .biz strong {
        margin: 0 0 18px 0;
        font-size: 14px;
    }
    .biz .link {
        margin: 25px 0 0 0;
    }
    .biz .link ul li {
        margin: 0 2px 0 2px;
        width: auto;
    }
    .biz .link ul li a {
        padding: 9px 24px;
        line-height: 27px;
    }

    /* link에 있는 ul li를 좌우로 배치하고 슬라이드 하기 위함
    1. ul은 모든 li의 넓이의 합을 넓이로 가지고 있어야 함
    2. ul은 position: absolute 여야 함
    3. ul을 감싸고 있는 요소는 좌우 스크롤을 허용해야 함
    4. ul을 감싸고 있는 요소는 높이를 줘야 함(내부 콘텐츠 만큼의) */

    .biz .link {
        position: relative;
        overflow: auto;
        height: 61px;
    }
    .biz .link ul {
        position: absolute;
        left: 0;
        top: 8px;
    }
    .biz .rowgroup1 .link ul {
        width: 595px;
    }
    .biz .rowgroup2 .link ul {
        width: 595px;
    }
    .biz .rowgroup3 .link ul {
        width: 595px;
    }


}/* media 종료 */