/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all;
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 1400px;
    /* 브라우저에 가로스크롤이 생성되었을때 배경이 짤리지 않기 위해 
       최소 넓이를 줌 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1400px;
    margin: 0 auto;
}
@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 320px; 
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}


.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* z-index가 높은 숫자가 위로 올라옴
    header 아래 콘텐츠 요소는 z-index가 필요하면 100이하의 값을 줌
    header가 무조건 위에 있어야 함 */
    width: 100%;
    /* absolute를 주면 요소가 inline태그처럼 
    콘텐츠가 존재하는 만큼만 넓이를 갖는다.
    block 태그처럼 사용하려면 반드시 width:100% 필요 */
    height: 100px;
    color: #fff;
}
.header .logo {
    position: absolute;
    left: 19px;
    top: 23px;
    z-index: 103;
}
.header .logo a {
    display: block;
    width: 112px;
    height: 37px;
    background-image: url(../images/common/logo_w.svg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    /* 주어진 넓이와 높이에서 로고 전체가 짤리지 않고 최대한 꽉 차게 나타나는 속성
    영역의 넓이와 높이가 변경되면 배경이미지 사이즈가 알아서 변경 됨 */
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    position: relative;
    z-index: 102;
}
.header .gnb .open {
    display: none; /* 모바일에서만 나타남 */
}
.header .gnb .close {
    display: none;  /* 모바일에서만 나타남 */
}
.header .gnb > ul {
    /* li를 좌우로 배치할 때 float:left할 때는 li에 float를 줌
    하지만, flexbox 코딩으로 좌우로 정렬할 때는 li를 감싸는 부모(ul)에 flex를 줘야 함. 
    (조부모 gnb에 줄 수 없음) */
    display: flex;
    justify-content: center;
    /* ul의 넓이 안에서 li를 가운데 정렬 */
    margin: 5px 6px 0 0;
    padding: 20px 0 0 0;
    height: 165px;

    /* 1차 메뉴 a와  2차 메뉴 ul 위아래 사이에는 여백이 존재하면 안됨, 메뉴가 out됨 
    ul이 정확하게 a 밑에 배치될 수 있도록 줘야 함 
    하지만 실제 디자인에서 a와 ul 사이에 여백이 존재한다면 이는 2차메뉴 ul의 상단 padding값으로 주면 된다.
    padding은 내부 여백이라 실제 여백으로 판단하지 않음.
    2차메뉴 ul의 높이는 일정한게 좋음
    2차메뉴 사이를 좌우로 이동할 수 있어야 함 (메뉴가 out되면 안됨)
    --> 높이 값을 주면 됨. 
     */
}
.header .gnb > ul > li {
    position: relative;
    width: 150px;
    text-align: center;
}
.header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 95px;
}

.header .gnb > ul > li:hover > a {
    font-weight: 700;
    color: #ED1C24;   
}
.header .gnb > ul > li:hover > a > span {
    position: relative;
}
.header .gnb > ul > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 2px;
    background-color: #ED1C24;
    content: "";
}
.header .gnb > ul > li > ul {
    display: none; /* 2차메뉴 */
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
}
.header .gnb > ul > li > ul > li > a {
    display: block;
    line-height: 2.2;

}
.header .lang {
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 103;
}

.header .lang button {
    width: 116px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 18px;
    align-items: center;
    /* button 내부 요소 i와 span태그를 좌우 정렬, 위아래 가운데 배치 */
    display: flex;
    justify-content: space-around;
 
}
.header .lang button i {
    font-size: 18px;
}
.header .lang .close {
    display: none;
}
.header .lang ul {
   display: none; 
   position: absolute;
   left: 0;
   top: 35px;
   width: 116px;
   height: 70px;
   border-radius: 18px;
   background-color: rgba(225,225,225,0.9);
   color: #3D3D3D;
   text-align: center;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.header .lang ul li:first-child {
    margin: 6px 0 0 0;
}
.header .lang ul li a {
    display: block;
    line-height: 1.8;
}
.header .lang ul li a:hover, .header .lang ul li.active a {
    color: #ED1C24;
}

/* lang가 열렸을 때 */
.header .lang.lang_open ul {
    display: block;
}
.header .lang.lang_open .open {
    display: none;
}
.header .lang.lang_open .close {
    display: flex;
}

/* 메뉴에 마우스를 오버했을때 */
.header.menu_open {    
    color: #3D3D3D;
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}

.header.menu_open .gnb > ul > li > a {
    color: #1d1d1d;
}

.header.menu_open .logo {
    z-index: 103;
}
.header.menu_open .logo a {
    background-image: url(../images/common/logo.svg); 
}
.header.menu_open .gnb > ul > li > ul {
    display: block; /* 2차메뉴 */
}
.header.menu_open .lang button {
    border: 1px solid #3D3D3D;
}