@import url(default.css);
@import url(common.css);

body {
    padding-bottom: 100px;
}
.popup {
    height: 800px;
}
.popup ul li .txt {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
}
.popup ul li .txt span {
    display: block;
    font-size: 20px;
}
.popup ul li .txt strong {
    display: block;
    font-size: 82px;
    font-weight: 700;
    line-height: 82px;
}
.popup ul li img { /* 팝업에 이미지를 img태그로 처리한 경우 img에 주는 필수값 */
    display: block; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.popup .btn_prev, .popup .btn_next {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.popup .btn_prev {
    left: 20px;
}
.popup .btn_next {
    right: 20px;
}
.popup .btn_prev::before, .popup .btn_next::before {
    position: absolute;
    top: -35px; /* 높이의 절반 - 위아래 가운데 배치 */
    width: 32px; 
    height: 66px;
    background: url(../images/pop_arrow.svg) no-repeat center center / contain;
    opacity: 50%;
    content: "";
}
.popup .btn_prev::before {
    left: 0;
}
.popup .btn_next::before {
    right: 0;
    transform: rotate(180deg); /* 회전 */
} 
.popup .ctrl_wrap {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 52px;
    align-items: center;
    z-index: 10;
    transform: translate(-50%, 0);
}

/* css 스타일이 중복될때 - 플러그인에서 준 스타일을 수정할때
    css선택자를 우선 적용될 수 있도록 설계해야 함. 
    1. 더 먼 요소부터 선언함 (body부터 지정)
    2. 스타일을 줄 요소를 정확하게 지칭해야 함.
        태그명보다 스타일명이 더 정확한 지칭임. (적용 우선 순위가 높음)
        --> span.swiper-pagination-bullet 

    3.  css가 우선 적용되지 않을 때
        속성에 important를 추가해서 무조건 적용되게 한다.
        예시, width: 10px !important;
*/

.popup .btn_paging span.swiper-pagination-bullet {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
}
/* .popup .btn_paging span.swiper-pagination-bullet.swiper-pagination-bullet-active 이렇게만 지정하면 
.popup .btn_paging span.swiper-pagination-bullet 스타일과 충돌 됨. */
.popup .btn_paging span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #C22020;
}
.popup .btn_stop {
    font-size: 0;
    line-height: 0;
    width: 12px;
    height: 22px;
    margin-left: 20px;
    background-image: url(../images/pop_stop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.popup .btn_stop.play {
    background-image: url(../images/pop_play.svg);
}

@media screen and (max-width:1440px){
    .popup ul li .txt {
        left: 60px;
    }
}
@media screen and (max-width:1080px){
    .popup {
        height: 700px;
    }
    .popup ul li .txt span {
        font-size: 18px;
    }
    .popup ul li .txt strong {
        font-size: 66px;
        line-height: 66px;
    }
    .popup .btn_prev::before, .popup .btn_next::before {
        top: -25px; /* 높이의 절반 - 위아래 가운데 배치 */
        width: 22px; 
        height: 46px;
    }
}
@media screen and (max-width:740px){
    .popup {
        height: 600px;
    }
    .popup ul li .txt span {
        font-size: 15px;
    }
    .popup ul li .txt strong {
        font-size: 50px;
        line-height: 50px;
    }
}
@media screen and (max-width:440px){
    .popup {
        height: 400px;
    }
    .popup ul li .txt span {
        font-size: 13px;
    }
    .popup ul li .txt strong {
        font-size: 40px;
        line-height: 40px;
    }
}

h1 {
    margin: 50px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.banner1 ul li img {
    width: 100%; /* li의 사이즈에 맞춰서 가로를 꽉채워 들어감 - 높이는 비율에 맞게 */
}
.banner1 ul li strong {
    display: block;
    font-size: 22px;
}
@media screen and (max-width:640px){
    h1 {
        font-size: 30px;
    }
    .banner1 ul li strong {
        font-size: 16px;
    }
}
.banner2 ul li {
    width: 290px;
}
.banner2 ul li img {
    width: 100%; /* li의 사이즈에 맞춰서 가로를 꽉채워 들어감 - 높이는 비율에 맞게 */
}
.banner3 ul li strong {
    display: block;
    font-size: 22px;
}
@media screen and (max-width:1024px){
    .banner2 ul li {
        width: 220px;
    }
}
@media screen and (max-width:640px){
    .banner2 ul li {
        width: 160px;
    }
}