/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 350px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px이하부터 320px까지 모든 사이즈 반응형일때
    1400px 일때에도 좌우에 여백은 유지해야 함(1400이상에서 1400이하로 - 반응형으로 전환되는 점)
    부드럽게 여백을 유지하면서 전환
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
    1400px - 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
    padding으로 좌우에 여백을 20px씩 줌 */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
}/* media 종료 */

.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.cnt_wrap {
    position: relative;
}
.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0053A3;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
} 

header {
    height: 100px;
}
header .logo {
    float: left;
    font-size: 0;
    line-height: 0;
    margin: 35px 0 0 0;
}
header .logo img {
    width: 127px;
}
header .gnb {
    float: right;
}
header .gnb .gnb_open {
    display: none;
    padding: 20px 0 0 0;
}
header .gnb .gnb_open img {
    width: 20px;
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 0 33px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
@media screen and (max-width:1200px){
    header .logo {
        margin: 32px 0 0 0;
    }
    header .gnb ul li a {
        padding: 0 20px;
        font-size: 16x;
    }
}
@media screen and (max-width:640px){
    header {
        height: 70px;
    }
    header .logo {
        margin: 20px 0 0 0;
    }
    header .logo img {
        width: 80px;
    } 
    header .gnb .gnb_open {
        display: block;
    }
    header .gnb ul {
        display: none;
    }
}
.footer {
    position: relative;
}
.footer .family {
    position: absolute;
    right: calc(50% - 700px);
    /* 
    wrapper없이 콘텐츠 영역의 끝에 family를 배치 
    right: 50%에서 콘텐츠의 넓이 절반 700px를 빼줌 
    */
    top: 92px;
}
.footer .family button {
    width: 125px;
    height: 36px;
    border: 1px solid #ccc;
}
.footer .ftop {
    height: 62px;
    border-bottom: 1px solid #dddddd;
}
.footer .ftop .fnav li {
    position: relative;
    float: left;
    margin-right: 34px;
}
.footer .ftop .fnav li::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 13px;
    color: #dddddd;
    content: "";
}
.footer .ftop .fnav li.privacy a {
    font-weight: 700;
}
.footer .ftop .fnav li:last-child::after {
    display: none;
}
.footer .ftop .fnav li a {
    display: block;
    line-height: 62px; /* ftop높이 */
}
.footer .fsub .flogo {
    float: left;
}
.footer .fsub .flogo img {
    width: 86px;
}
.footer .fsub .inner {
    margin: 31px 0 124px 130px;
}
footer .fsub .finfo span {
    display: inline-block;
    margin-right: 30px;
}
footer .fsub .copyright {
    color: #ccc;
    margin-top: 25px;
}
@media screen and (max-width:1440px){
    .footer .family {
        right: 20px;
    }
}
@media screen and (max-width:640px){
    .footer .family {
        display: flex;
        justify-content: center;
        position: relative;
        right: auto;
        top: auto;
        margin: 37px 0 20px 0;
    }
    .footer .ftop {
        height: auto;
        border-bottom: 0;
    }
    .footer .ftop .fnav li {
        margin-right: 25px;
        margin-bottom: 5px;
    }
    .footer .ftop .fnav li::after {
        width: 0;
        height: 0;
    }
    .footer .ftop .fnav li a {
        line-height: 1.5;
    }
    .footer .fsub .flogo { 
        display: none;
    }
    .footer .fsub .inner {
        margin: 20px 0 84px 0;
    }
    footer .fsub .finfo span {
        margin-right: 15px;
    }
}